@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 260 27% 26%;
    --primary-foreground: 0 0% 98%;

    --secondary: 3 58% 41%;
    --secondary-foreground: 0 0% 9%;
    
    --muted: 260 20% 96%;
    --muted-foreground: 260 10% 46%;

    --accent: 260 20% 96%;
    --accent-foreground: 260 27% 16%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 10% 91.4%;
    --input: 260 10% 91.4%;
    --ring: 260 27% 26%;

    --radius: 0.5rem;

    --chart-1: 260, 27%, 26%;
    --chart-2: 3, 58%, 41%;
    --chart-3: 260, 40%, 50%;
    --chart-4: 3, 58%, 60%;
    --chart-5: 260, 27%, 40%;
  }

  .dark {
    --background: 260 27% 10%;
    --foreground: 0 0% 98%;

    --card: 260 27% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 260 27% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 260 27% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 3 58% 50%;
    --secondary-foreground: 0 0% 9%;

    --muted: 260 20% 20%;
    --muted-foreground: 260 10% 70%;

    --accent: 260 20% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 20% 20%;
    --input: 260 20% 20%;
    --ring: 260 27% 60%;
  }
}

h1 {
  @apply mb-2 text-2xl font-bold;
}