---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout>
	<div class="container grid grid-cols-3 grid-rows-5 gap-4 mx-auto pt-10">
		<div class="col-span-2 rounded-2xl p-10 bg-[#f5efe8] text-[#004d40]">
			<h1 class="text-[#002d25]">HERRAMIENTAS Y TECNOLOGÍAS</h1>
			<article>
				<ul class="list-disc pl-5 py-2">
					<li>
						<strong>Automatización de Pruebas:</strong> Playwright (C#
						- .NET 8), Cypress (JS), Appium (aprendiendo).
					</li>
					<li>
						<strong>Azure DevOps:</strong> Integración de pruebas en
						pipelines CI/CD y gestión de proyectos.
					</li>
					<li>
						<strong>Pruebas de Carga:</strong> JMeter y Locust (Configuración
						de pruebas de carga y análisis de resultados).
					</li>
					<li>
						<strong>Pruebas de API:</strong> Postman y Playwright.
					</li>
					<li>
						<strong>Pruebas de EMAIL:</strong> Mailinator (aprendiendo)
					</li>
				</ul>
			</article>
		</div>
		<div class="row-span-2 col-start-1 row-start-2 rounded-2xl">
			<Image
				src="/images/IsmaelLagunilla.jpg"
				alt="Ismael Lagunilla"
				width={1000}
				height={2000}
				class="rounded-2xl"
				loading={"eager"}
			/>
		</div>
		<div
			class="col-start-1 row-start-4 rounded-2xl p-10 bg-[#f5efe8] text-[#004d40]"
		>
			<h1 class="text-[#002d25]">IDIOMAS</h1>
			<article>
				<ul class="list-disc pl-5 py-2">
					<li>Español - nativo</li>
					<li>Inglés - Nivel intermedio (B1)</li>
				</ul>
			</article>
		</div>
		<div
			class="row-span-1 col-start-2 row-start-2 rounded-2xl p-10 bg-[#f5efe8] text-[#004d40]"
		>
			<h1 class="text-[#002d25]">SOBRE MI</h1>
			<p>
				Apasionado de la calidad y la excelencia en el desarrollo de
				software, con experiencia en la industria del digital signage.
				Mi enfoque meticuloso en la detección de problemas y mi
				capacidad para trabajar en equipo me han permitido aprender y
				crecer en este campo de manera constante.
			</p>
		</div>
		<div
			class="row-span-1 col-start-2 row-start-3 rounded-2xl p-10 bg-[#004d40] text-[#f5efe8]"
		>
			<h1 class="text-[#f5efe8]">CONTACTO</h1>
			<section>
				<p>+34 618 034 133</p>
				<p>ismaellagunillag@gmail.com</p>
				<p>Palencia</p>
			</section>
		</div>
		<div
			class="col-start-3 row-start-1 rounded-2xl p-10 bg-[#004d40] text-[#f5efe8]"
		>
			<h1>FORMACIÓN</h1>
			<article>
				<section class="py-1">
					<h2>
						TÉCNICO SUPERIOR EN DESARROLLO DE APLICACIONES
						MULTIPLATAFORMA
					</h2>
					<p>
						<strong>CIFP Camino de la Miranda</strong>, Palencia
					</p>
					<p>2024 - actualidad</p>
				</section>
				<section class="py-1">
					<h2>
						TÉCNICO SUPERIOR EN ADMINISTRACIÓN DE SISTEMAS
						INFORMÁTICOS EN RED
					</h2>
					<p>
						<strong>CPES Don Bosco</strong>, Villamuriel - Palencia
					</p>
					<p>2020 - 2022</p>
				</section>
			</article>
		</div>
		<div
			class="row-span-2 col-start-3 row-start-2 rounded-2xl p-10 bg-[#f5efe8] text-[#004d40]"
		>
			<h1 class="text-[#002d25]">EXPERIENCIA</h1>
			<article>
				<section class="grid grid-cols-2">
					<div>
						<h2 class="py-1"><strong>QA Manager</strong></h2>
						<p class="py-1"><strong>ICON Multimedia</strong></p>
						<p class="py-1">2022 - Presente</p>
					</div>
					<div>
						<Image
							src="/images/logo_iconmm_horizontal.png"
							alt="Icon Multimedia"
							width={200}
							height={100}
							loading={"eager"}
						/>
					</div>
				</section>
				<ul class="list-disc pl-5 py-2">
					<li>
						Dirigir y gestionar el departamento de QA, asegurando la
						calidad del software encada fase del desarrollo.
					</li>
					<li>
						Definir y gestionar casos de prueba y asegurar su
						correcta implementación.
					</li>
					<li>
						Automatizar pruebas E2E de la web utilizando Cypress y
						Playwright.
					</li>
					<li>
						Implementar pruebas en pipelines CI/CD con Azure DevOps
						para mejorar laintegración continua.
					</li>
					<li>
						Ejecutar pruebas de carga para evaluar el rendimiento y
						escalabilidad del software.
					</li>
					<li>
						Gestionar la documentación técnica y crear manuales para
						clientes.
					</li>
					<li>
						Generar reportes detallados de bugs y colaborar
						estrechamente con el equipo de desarrollo para su
						resolución.
					</li>
				</ul>
			</article>
		</div>
		<div
			class="row-span-1 col-span-2 col-start-2 row-start-4 rounded-2xl p-10 bg-[#d60000] text-[#f5efe8]"
		>
			<div class="container grid">
				<p class="text-7xl">Ismael Lagunilla</p>
				<p class="text-6xl pt-10">
					QA Manager
					<Image
						src="/images/bug.svg"
						alt="Icon Bug"
						alt="Icon Multimedia"
						width={100}
						height={100}
						class="inline-block pl-2 text-[#f5efe8]"
						loading={"eager"}
					/>
				</p>
			</div>
		</div>
	</div>

	<main
		class="container grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-6 px-10 py-10 w-full"
	>
	</main>
</Layout>
